#Lyaman{
    block-size: 50px;  
    padding: 15px;
}

img{
    width: 200px;
    right:50px;
    position: absolute;
    block-size: 220px;
    bottom: 330px;

}
.nachalo{
    margin: 0px;
    left: 15px;
}
